/* Estilos básicos */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Barra de navegación */
.navbar {
  background-color: #004445; /* Un verde oscuro para dar un tono serio y profesional */
}

.nav-link {
  color: #fff !important; /* Asegura que los enlaces sean blancos */
}

.nav-link:hover {
  background-color: #022c30; /* Un efecto al pasar el ratón */
}

/* Estilos para el título principal y subtítulos */
h1, h2 {
  color: #92908e; /* Un tono que combina con la barra de navegación */
}

/* Botones */
button {
  background-color: #006666; /* Un color verde-azulado para los botones */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #004445; /* Un color más oscuro al pasar el ratón */
}

/* Estilos para las tarjetas de productos */
.card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.card-img-top {
    width: 100%;   /* hace que la imagen ocupe el 100% del ancho de su contenedor */
    height: 200px; /* altura fija para todas las imágenes */
    object-fit: cover; /* asegura que la imagen cubra completamente el espacio sin distorsionarse */
}


.card-body {
  padding: 15px;
}

/* Estilos para el formulario de conversión */
#value {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px; /* Ancho fijo para el input */
}

/* Contenedor principal */
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
